strategy:
  name: Strangle
  slippage: 1.5
  symbol: banknifty
  # 0=Sunday 1=Monday 2=Tuesday 3=Wednesday 4=Thursday 5=Friday 6=Saturday
  days_to_run: 3,4
  stop:
    - type: stop_type_time
      time: 15:25
    - type: stop_type_mtm_amount
      amount: -10000
    # type: stop_type_
  legs:
    - lots: 4
      buy_or_sell: sell
      ce_or_pe: CE
      strike_selection:
        type: strike_selection_type_distance_from_spot
        distance_from_spot: 0
        #type: strike_selection_type_near_ltp
        #near_ltp: 50
        #type: strike_selection_type_range_ltp
        #min_ltp: 50
        #max_ltp: 80
      entry:
        - type: entry_type_time
          time: "09:18"
      exit:
        - type: exit_type_time
          time: "15:25"
        - type: exit_type_ltp_loss_percent
          percent: 40.0
        #- type: exit_type_underlying_moved_points
        #  points: 500
        #  underlying: spot
    - lots: 4
      buy_or_sell: sell
      ce_or_pe: PE
      strike_selection:
        type: strike_selection_type_distance_from_spot
        distance_from_spot: 0
        #type: strike_selection_type_near_ltp
        #near_ltp: 50
        #type: strike_selection_type_range_ltp
        #min_ltp: 50
        #max_ltp: 80
      entry:
        - type: entry_type_time
          time: "09:18"
      exit:
        - type: exit_type_time
          time: "15:25"
        - type: exit_type_ltp_loss_percent
          percent: 40.0
        #- type: exit_type_underlying_moved_points
        #  points: -500
        #  underlying: spot
